<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css" />
    <link href="/Styles/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>
    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/Scripts/angular-chart.min.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls.min.js"></script>
    <script>
        //Initial Values for Proper display.
        var breakFast=500;
        var lunch=1000;
        var dinner = 1500;
        var sleephours = 12;
        var activitytype = 1;
        var High = 300;
        var Low = 100;
        var Medium = 200;
        var globalCaloriesChange = []
        var Exercise = []
        var Metabolism = []
        var Activitylevel = []
        var globalCalorieSpent = []
        var WeightChange = []
        var startsimulation = false;
        var scale = 1000;
        var labelss=[]
        var scaleChange = []
        var initialscalecalled = false;
        var scalingfactor = 1;
        function initialscale() {
            if (!initialscalecalled) {
                j = 0;
                k = 0;
                m = 0;
                for (i = 0; i < 144; i++) {
                    if (i % 24 == 0) {
                        labelss.push(k);
                        k = k + 1;
                    }
                    else {
                        labelss.push("");
                    }
        //5,11,17,23 are time values in hours in a day
                    if (j <= 5) {
                        globalCaloriesChange.push(0);
                    }
                    else if (j <= 11) {
                        globalCaloriesChange.push(breakFast);
                    }
                    else if (j <= 17) {
                        globalCaloriesChange.push(lunch);
                    }
                    else if (j <= 23) {
                        globalCaloriesChange.push(dinner);
                    }
                    else {
                        globalCaloriesChange.push(0);
                        j = 0;
                    }
                    if (j == 0) {
                        Activitylevel.push(0)
                    }
                    else {
                        Activitylevel.push(Activitylevel[i - 1] * activitytype + 1)
                    }
                    if (j == 0) {
                        Metabolism.push(0)
                    }
                    else {
                        Metabolism.push(Metabolism[i - 1] + 95 - sleephours * 5)
                    }
                    if (j >= 5) {
                        Exercise.push(High + Low + Medium);
                    }
                    else {
                        Exercise.push(0);
                    }
                    j = j + 1;

                }
                for (i = 0; i < 144; i++) {
                    globalCalorieSpent.push(Activitylevel[i] + Metabolism[i] + Exercise[i]);
                }
                for (i = 0; i < 144; i++) {
                    if (i % 24 == 23) {
                        if (i == 23) {
                            WeightChange.push(150 + (globalCaloriesChange[i] - globalCalorieSpent[i]) / 3500)
                        }
                        else {
                            WeightChange.push(WeightChange[m-1] + (globalCaloriesChange[i] - globalCalorieSpent[i]) / 3500)
                        }
                        m++;
                    }
                }
                initialscalecalled = true;
            }
        }

            function scaledistribution() {
                j = 0;
                k = 0;
                for (i = 0; i < 144; i++) {
                    if (j > 5 && j <= 11) {
                        globalCaloriesChange[i] = breakFast;
                    }
                    if (j > 11 && j <= 17) {
                        globalCaloriesChange[i] = lunch;
                    }
                    if (j > 17 && j <= 23) {
                        globalCaloriesChange[i] = dinner;
                    }
                    if (j == 0) {
                        Activitylevel[i] = 0;
                    }
                    else {
                        Activitylevel[i] = (Activitylevel[i - 1] * activitytype + 1);
                    }
                    if (j == 0) {
                        Metabolism[i] = 0;
                    }
                    else {
                        Metabolism[i] = Metabolism[i - 1] + 95 - sleephours * 5
                    }
                    if (j >= 5) {
                        Exercise[i] = High + Low + Medium;
                    }
                    else {
                        Exercise[i] = 0;
                    }
                    globalCalorieSpent[i] = Activitylevel[i] + Metabolism[i] + Exercise[i];
                    if (j == 23) {
                        if (k == 0) {
                            WeightChange[k] = WeightChange[5] + (globalCaloriesChange[i] - globalCalorieSpent[i]) / 3500;
                        }
                        else {
                            WeightChange[k] = WeightChange[k-1] + (globalCaloriesChange[i] - globalCalorieSpent[i]) / 3500;
                        }
                        k = k + 1;
                        if (k >= 6)
                        {
                            k = 0;
                        }
                    }
                    j = j + 1;

                    if (j >= 24)
                    {
                        j = 0;
                    }
                }
            }
           
    </script>
    <script>
        angular.module("MyApp", ["ngMaterial", "chart.js", "ui.bootstrap"])
           .run(function () { console.log('My App is ready') })
          .config(function ($mdIconProvider) {
              $mdIconProvider
                .iconSet('device', 'img/icons/sets/device-icons.svg', 24);
          })
                .controller('AppCtrl', function ($scope, $mdToast) {

                    $scope.color = {
                        red: 500,
                        green: 500,
                        blue: 500
                    };
                    $scope.sleep = 12;
                    $scope.HighC = 60;
                    $scope.LowC = 60;
                    $scope.MediumC = 60;
                    $scope.radGroup = "Sedentary";
                    $scope.$watch(
                    function () {
                        return $scope.color.red;
                    },
                    function (newValue, oldValue) {
                        breakFast = newValue;
                        lunch = newValue + $scope.color.green;
                        dinner = lunch + $scope.color.blue;
                        scaledistribution();
                    });
                    $scope.$watch(
                    function () {
                        return $scope.color.green;
                    },
                    function (newValue, oldValue) {
                        lunch = newValue + $scope.color.red;
                        dinner = lunch + $scope.color.blue;
                        scaledistribution();
                    });
                    $scope.$watch(
                    function () {
                        return $scope.color.blue;
                    },
                    function (newValue, oldValue) {
                        dinner = newValue + $scope.color.green + $scope.color.red;
                        scaledistribution();
                    });
                    $scope.$watch(
                    function () {
                        return $scope.sleep;
                    },
                    function (newValue, oldValue) {
                        sleephours = newValue;
                        scaledistribution()
                    });
                    $scope.$watch(
                    function () {
                        return $scope.HighC;
                    },
                    function (newValue, oldValue) {
                        High = 300 * newValue / 60;
                        scaledistribution()

                    });
                    $scope.$watch(
                    function () {
                        return $scope.LowC;
                    },
                    function (newValue, oldValue) {
                        Low = 100 * newValue / 60;
                        scaledistribution()
                    });
                    $scope.$watch(
                    function () {
                        return $scope.MediumC;
                    },
                    function (newValue, oldValue) {
                        Medium = 200 * newValue / 60;
                        scaledistribution()
                    });
                    $scope.$watch(
                    function () {
                        return $scope.radGroup;
                    },
                    function (newValue, oldValue) {
                        if (newValue == "Sedentary")
                        {
                            activitytype = 1
                        }
                        else if (newValue == "Sactive")
                        {
                            activitytype = 1.02
                        }
                        else if (newValue == "Active") {
                            activitytype = 1.05
                        }
                        else if (newValue == "Vactive") {
                            activitytype = 1.1
                        }
                        scaledistribution()
                    });

                })
               .config(['ChartJsProvider', function (ChartJsProvider) {
                   // Configure all charts
                   ChartJsProvider.setOptions({
                       chartColors: ['#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360'],
                       responsive: true,
                       animation:false
                   });
                   // Configure all line charts
                   ChartJsProvider.setOptions('line', {
                   });
               }])
               .controller('TicksCtrl', ['$scope', '$interval', '$mdToast', '$window', function ($scope, $interval, $mdToast, $window) {
                   $scope.options = {
                animation: false,
                elements: {
                    line: {
                        borderWidth: 0.5
                    },
                    point: {
                        radius: 0
                    }
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                            drawTicks: false
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time in Days'
                        },
                        ticks: {
                            fontSize: 12,
                            maxRotation: 0,
                            autoSkip: false,
                            callback: function (value) {
                                if (value.toString().length > 0) {
                                    return value;
                                } else { return null };
                            }
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                            drawTicks: false
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Calories Change'
                        }
                    }],
                },
                tooltips: {
                    enabled: false
                }
            };
            $scope.series = ['Series A', 'Series B'];

            var maximum = 144;
            var counter = 0;
            var temp1 = 0;
            var temp2 = 0;
            var count2 = 6;
            initialscale();
            $scope.data = [[0],[0]];
            $scope.labels = [0];
            for (i = 0; i < 144; i++) {
                $scope.labels[i] = labelss[i];
                $scope.data[0][i] = globalCaloriesChange[i];
                $scope.data[1][i] = globalCalorieSpent[i];
            }
            // Update the dataset at 25FPS for a smoothly-animating chart
            var td = $interval(function () {
                if (startsimulation) {
                    getLiveChartData();
                }
            }, scale);
            $scope.$watch(function () {
                return $window.scale;
            }, function (newValue, oldValue)
            {
                if (startsimulation) {
                    $interval.cancel(td);
                    td = $interval(function () {

                        getLiveChartData();

                    }, newValue);
                }
            }
        )


            function getLiveChartData() {
                temp1 = $scope.labels[0];
                temp2 = globalCaloriesChange[counter];
                temp3 = globalCalorieSpent[counter];
                $scope.labels = $scope.labels.slice(1);
                $scope.data[0] = $scope.data[0].slice(1);
                $scope.data[1] = $scope.data[1].slice(1);
                if (counter % 24 == 0)
                    {
                        $scope.labels.push(count2);
                        count2 = count2 + 1;
                    }
                    else
                    {
                        $scope.labels.push("");
                    }
                $scope.data[0].push(temp2);
                $scope.data[1].push(temp3);
                counter++;
                if(counter>=144)
                {
                    counter = 0;
                }
            }
        }])
               .controller('TicksCtrl2', ['$scope', '$interval', '$mdToast','$window', function ($scope, $interval, $mdToast,$window) {
                   $scope.datasetOverride = [{
                       lineTension: 0.5,
                   fill:false,
                   backgroundColor: "rgba(75,192,192,0.4)",
                   borderColor: "rgba(75,192,192,1)",
                   borderCapStyle: 'butt',
                   borderDash: [],
                   borderDashOffset: 0.0,
                   borderWidth: 1,
                   borderJoinStyle: 'miter',
                   pointBorderColor: "rgba(75,192,192,1)",
                   pointBackgroundColor: "#fff",
                   pointBorderWidth: 1,
                   pointHoverRadius: 5,
                   pointHoverBackgroundColor: "rgba(75,192,192,1)",
                   pointHoverBorderColor: "rgba(220,220,220,1)",
                   pointHoverBorderWidth: 2,
                   pointRadius: 0,
                   pointHitRadius: 10,
                   }];
                    $scope.options = {
                        animation: {
                            duration: 0
                        },
                        elements: {
                            line: {
                                borderWidth: 0.5
                            },
                            point: {
                                radius: 0
                            }
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    color: "rgba(0, 0, 0, 0)",
                                    drawTicks: false
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time in Days'
                                },
                                ticks: {
                                    fontSize: 12,
                                    maxRotation: 0,
                                    autoSkip: false,
                                    callback: function (value) {
                                        if (value.toString().length > 0) {
                                            return value;
                                        } else { return null };
                                    }
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    color: "rgba(0, 0, 0, 0)",
                                    drawTicks: false
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Weight in KGs'
                                },
                                ticks:{
                                    min:0
                                }
                            }]
                        },                        
 
                        tooltips: {
                            enabled: false
                        }
                    };
                    $scope.series = ['Series A'];
                    var counter1 = 0;
                    var counter2=0;
                    var temp21 = 0;
                    var temp31 = 0;
                    initialscale();
                    $scope.data = [[0]];
                    $scope.labels = [0];
                    for (i = 0; i < 6; i++) {
                        $scope.labels[i] = i;
                        if (i == 0) {
                            $scope.data[0][i] = WeightChange[i];
                        }
                        else {
                            $scope.data[0][i] = 0;
                        }
                        
                    }
                    // Update the dataset at 25FPS for a smoothly-animating chart
                    var td1 = $interval(function () {
                        if (startsimulation) {
                            getLiveChartData1();
                        }
                    }, (scale*15*scalingfactor));
                    $scope.$watch(function () {
                        return $window.scale;
                    }, function (newValue, oldValue) {
                        if (startsimulation) {
                            $interval.cancel(td1);

                            td1 = $interval(function () {

                                getLiveChartData1();

                            }, (newValue*15*scalingfactor));
                        }
                    }
                )

                    function getLiveChartData1() {
                        if (counter2 >= 6)
                        {
                            counter2 = 0;
                        }
                        temp31 = WeightChange[counter2];
                        temp21 = $scope.labels[counter1];
                        if (counter1 >= 6) {
                            $scope.data[0] = $scope.data[0].slice(1);
                            $scope.data[0].push(temp31);
                            $scope.labels = $scope.labels.slice(1);
                            $scope.labels.push(counter1);
                        }
                        else
                        {
                            $scope.data[0][counter2] = WeightChange[counter2];
                        }
                        counter2++;
                        counter1 = counter1 + 1;                        
                    }
               }])
            .controller('btnCtrl', function ($scope) {
                $scope.$watch(
                function () {
                    return $scope.Freq;
                },
                function (newValue, oldValue) {
                    if (newValue != 0) {
                        scale = 1000 / (newValue + 1);
                        scalingfactor = newValue + 1;
                    }
                });
                $scope.showAlert = function (ev) {
                    startsimulation = true;
                };

            });
               
    </script>

</head>
<body ng-app="MyApp" layout="row">

    <style>
        .red {
            background-color: red;
        }

        .lightblue {
            background-color: lightblue;
        }

        .lightgreen {
            background-color: lightgreen;
        }
    </style>
    <div class="container" layout="column" style="height:100%" flex>
        <md-toolbar style="max-height:100px;width:100%!important" flex="100">
            <h1>Mayo Labs</h1>
        </md-toolbar>
        <div class="container2" layout="row" flex>
            <div class="md-padding lightblue" md-is-locked-open="true" flex="100">
                <div ng-controller="AppCtrl" ng-cloak layout="column" flex="100">
                    <div layout="row" style="width:100%">
                        <div layout="column">
                            <md-content style="margin: 6px; padding:6px;max-width:600px;max-height:70%">
                                <h2 style="text-align:center;width:100%" flex>Food</h2>
                                <div style="max-height:100px;width:100%" layout="row" layout-align="center center">
                                    <span style="width:20%;font-size:18px">BreakFast</span>
                                    <span style="width:9%"></span>
                                    <md-slider style="width:50%" min="0" max="1500" ng-model="color.red" aria-label="Breakfast" id="Breakfast-slider" class="md-accent">
                                    </md-slider>
                                    <span style="width:2.5%"></span>
                                    <md-input-container style="width:17%" layout="row" layout-align="center end">
                                        <input type="number" ng-model="color.red" aria-label="Breakfast" aria-controls="Breakfast-slider" />
                                    </md-input-container>
                                </div>
                                <div style="max-height:100px;width:100%" layout="row" layout-align="center center">
                                    <span style="width:20%;font-size:18px">Lunch</span>
                                    <span style="width:4%"></span>
                                    <md-slider style="width:55%" min="0" max="1500" ng-model="color.green" aria-label="Lunch" id="Lunch-slider" class="md-accent">
                                    </md-slider>
                                    <span style="width:2.5%"></span>
                                    <md-input-container style="width:17%" layout="row" layout-align="center end">
                                        <input type="number" ng-model="color.green" aria-label="Lunch" aria-controls="Lunch-slider" />
                                    </md-input-container>
                                </div>
                                <div style="max-height:100px;width:100%" layout="row" layout-align="center center">
                                    <span style="width:20%;font-size:18px">Dinner</span>
                                    <span style="width:4%"></span>
                                    <md-slider style="width:55%" min="0" max="1500" ng-model="color.blue" aria-label="Dinner" id="Dinner-slider" class="md-accent">
                                    </md-slider>
                                    <span style="width:2.5%"></span>
                                    <md-input-container style="width:17%" layout="row" layout-align="center end">
                                        <input type="number" ng-model="color.blue" aria-label="Dinner" aria-controls="Dinner-slider" />
                                    </md-input-container>
                                </div>
                            </md-content>
                            <md-content style="margin: 6px; padding:6px" flex>
                                <h2 style="text-align:center;width:100%" flex>Sleep</h2>
                                <div layout layout-align="left center">
                                    <md-slider style="width:100%" flex md-discrete ng-model="sleep" step="1" min="1" max="24" aria-label="Sleep">
                                    </md-slider>
                                </div>
                            </md-content>
                        </div>
                        <div layout="column">
                            <md-content layout-padding style="margin: 5px; padding:5px;max-height:600px;overflow:hidden">
                                <span style="text-align:center;width:100%;font-size:25px" flex>Exercise</span>
                                <div layout layout-align="left center">
                                    <md-slider-container flex>
                                        <md-input-container>
                                            <input flex type="number" ng-model="HighC" aria-label="High-Cardio" aria-controls="High-Cardio">
                                        </md-input-container>
                                        <md-slider ng-model="HighC" min="0" max="120" aria-label="High-Cardio" id="High-Cardio" class="md-accent" md-vertical
                                                   md-range></md-slider>
                                        <h5>High</h5>
                                    </md-slider-container>
                                    <md-slider-container flex>
                                        <md-input-container style="width:70px">
                                            <input flex type="number" ng-model="MediumC" aria-label="Medium-Cardio" aria-controls="Medium-Cardio">
                                        </md-input-container>
                                        <md-slider ng-model="MediumC" min="0" max="120" aria-label="Medium-Cardio" id="Medium-Cardio" class="md-accent" md-vertical
                                                   md-range></md-slider>
                                        <h5>Medium</h5>
                                    </md-slider-container>
                                    <md-slider-container flex>
                                        <md-input-container style="width:70px">
                                            <input flex type="number" ng-model="LowC" aria-label="Low-Cardio" aria-controls="Low-Cardio">
                                        </md-input-container>
                                        <md-slider ng-model="LowC" min="0" max="120" aria-label="Low-Cardio" id="Low-Cardio" class="md-accent" md-vertical
                                                   md-range></md-slider>
                                        <h5>Low</h5>

                                    </md-slider-container>
                                </div>
                            </md-content>
                            <md-content layout-padding style="margin: 1px; padding:1px;max-height:220px;vertical-align:top" layout="column" layout-align="stretch">
                                <span>Activity</span>
                                <md-radio-group ng-model="radGroup" layout="column" layout-align="stretch">
                                    <md-radio-button value="Sedentary" class="md-primary">Sedentary</md-radio-button>
                                    <md-radio-button value="Sactive"> Somewhat Active </md-radio-button>
                                    <md-radio-button value="Active">Active</md-radio-button>
                                    <md-radio-button value="Vactive">Very Active</md-radio-button>
                                </md-radio-group>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-padding lightgreen" md-is-locked-open="true" id="content" flex="100">

                    <md-content style="margin: 10px; padding:10px" layout="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div ng-controller="TicksCtrl" ng-cloak layout="column" >
                                    <canvas id="ticks1" class="chart chart-line" chart-data="data"
                                            chart-series="series" chart-dataset-override="datasetOverride" chart-options="options" chart-labels="labels"></canvas>
                                    </div>
                                </div>
                        </div>
                    </md-content>
                    <md-content style="margin: 10px; padding:10px" layout="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div ng-controller="TicksCtrl2" ng-cloak layout="column" >
                                    <canvas id="ticks2" class="chart chart-line" chart-data="data" 
                                      chart-series="series" chart-dataset-override="datasetOverride" chart-options="options" chart-labels="labels"></canvas>
                                </div>
                            </div>
                        </div>
                    </md-content>
                <md-content style="margin: 8px; padding:8px" layout="row" flex>
                    <div ng-controller="btnCtrl" ng-cloak layout="column" style="width:500px">
                        <md-slider style="width:50%" flex md-discrete ng-model="Freq" step="1" min="1" max="10" aria-label="Freq">
                        </md-slider>
                    </div>
                    <div ng-controller="btnCtrl" ng-cloak layout="column" flex>
                        <md-button class="md-raised md-primary" ng-click="showAlert($event)" style="max-width:300px">Start Simulation</md-button>
                        </div>

</md-content>
</div>
        </div>

    </div>
</body>
</html>
